/* All selectors are descendents of #shortcuts to constrain styles to this extension */
#shortcuts .resizable-content {
    height: 175px;
    overflow-x: auto;
    overflow-y: scroll;
}

#shortcuts table td {
    line-height: 14px;
    padding: 4px 10px;
}

#shortcuts .shortcut-base { width: 9%; }
#shortcuts .shortcut-binding { width: 12%; }
#shortcuts .shortcut-cmd-id { width: 30%; }
#shortcuts .shortcut-cmd-name { width: 27%; }
#shortcuts .shortcut-orig { width: 22%; }

#shortcuts thead th {
    position: relative;
    background-color: #c2c7c7;
    padding: 0;
}

#shortcuts thead th:before {
    content: '.';
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    height: 0;
    overflow: hidden;
    margin-top: -3px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

#shortcuts thead th.sort-ascending:before {
    border-top: 6px solid;
}

#shortcuts thead th.sort-descending:before {
    border-bottom: 6px solid;
}

#shortcuts thead a {
    display: block;
    color: inherit;
    padding: 4px 10px;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: background 200ms ease-out;
}

#shortcuts thead a:hover {
    background: rgba(0, 0, 0, 0.08);
}

#shortcuts .toolbar {
    display: block;
    padding-right: 28px;
}

#shortcuts .toolbar button.copy-table,
#shortcuts .toolbar .filter {
    float: right;
    margin: -2px 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}