/* All selectors are descendents of #shortcuts to constrain styles to this extension */
#shortcuts .resizable-content {
    height: 175px;
    overflow-x: auto;
    overflow-y: scroll;
}

#shortcuts .resizable-content table {
    width: 100%;
}

#shortcuts .resizable-content.filtered tbody tr {
    display: none;
}

#shortcuts .resizable-content.filtered tbody tr.filter-match {
    display: table-row;
}

#shortcuts table td {
    line-height: 14px;
    padding: 4px 10px;
}

.shortcut-base { width: 9%; }
.shortcut-binding { width: 12%; }
.shortcut-cmd-id { width: 30%; }
.shortcut-cmd-name { width: 27%; }
.shortcut-orig { width: 22%; }

#shortcuts table .shortcut-header td {
    font-weight: bold;
    background-color: #404040;
    padding: 0;
}

#shortcuts table .shortcut-header td a {
    display: block;
    color: #fff;
    padding: 4px 10px;
    text-decoration: none;
    -webkit-transition: background-color 400ms ease-out 0ms;
}

#shortcuts table .shortcut-header td a:hover {
    cursor: pointer;
    background-color: #808080;
}

#shortcuts .toolbar {
    display: block;
}

#shortcuts .toolbar .shortcuts-close {
    font-weight: bold;
    font-height: 20px;
    color: #999;
    float: right;
    margin-right: 5px;
}

#shortcuts .toolbar .shortcuts-close:hover {
    text-decoration: none;
    color: #000;
}

#shortcuts .toolbar button.copy-table,
#shortcuts .toolbar .filter {
    float: right;
    margin: 0 20px 0 0;
}