<table class="table table-striped row-highlight table-condensed">
    <thead>
        <tr class="shortcut-header">
            <td class="shortcut-base"><a>Base Key</a></td>
            <td class="shortcut-binding"><a>Key Binding</a></td>
            <td class="shortcut-cmd-id"><a>Command ID</a></td>
            <td class="shortcut-cmd-name"><a>Command Name</a></td>
            <td class="shortcut-orig"><a>Origin</a></td>
        </tr>
    </thead>
    <tbody>
        {{#keyList}}
        <tr id="{{ id }}">
            <td class="shortcut-base">{{keyBase}}</td>
            <td class="shortcut-binding">{{keyBinding}}</td>
            <td class="shortcut-cmd-id">{{commandID}}</td>
            <td class="shortcut-cmd-name">{{commandName}}</td>
            <td class="shortcut-orig">{{origin}}</td>
        </tr>
        {{/keyList}}
    </tbody>
</table>
